<!-- HTML !-->



<div class="container-button-contato" id="contatos">
<div class="title-contatos">
  <h6 >Contatos</h6>
</div>

  <div class="container_btn-contatos">
  <!-- github !-->
  <a href="https://github.com/douglas1997silva" target="_blank" class="link-contatos">
    <button class="button-60" role="button">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="text"><i class="fi fi-brands-github"></i></span>
    </button>
</a>

<!-- whatsapp!-->
<a href="https://api.whatsapp.com/send?phone=5511979576926
" target="_blank" class="link-contatos">
<button class="button-60" role="button">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span class="text"><i class="fi fi-brands-whatsapp"></i></span>
</button>
</a>

<!-- linkedin !-->
<a href="https://www.linkedin.com/in/douglas-oliveira-625064271/" target="_blank" class="link-contatos">

  <button class="button-60" role="button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span class="text"><i class="fi fi-brands-linkedin"></i></span>
  </button>
</a>
<!-- Alura !-->
<a href="https://cursos.alura.com.br/vitrinedev/douglas-olliveira1997" target="_blank" class="link-contatos">

  <button class="button-60" role="button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span class="text"><img src="https://cursos.alura.com.br/assets/images/logos/logo-alura-white.svg" alt="alura" height="20px"></span>
  </button>
</a>
<!-- dio !-->
<a href="https://www.dio.me/users/douglas_olliveira1997" target="_blank" class="link-contatos">

  <button class="button-60" role="button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span class="text"><img src="https://hermes.digitalinnovation.one/assets/diome/logo-full.svg" alt="dio" height="20px"></span>
  </button>
</a>
<a href="../../../assets/Douglas Oliveira.pdf" download="curriculo Douglas-Oliveira">
  <button class="button-60" role="button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span class="text"><i class="fi fi-rr-download"></i></span>
  </button>
</a>




</div>

</div>



