.container-contatos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;

}
h1{
  margin-bottom: 1rem;
  font-size: 45px;
  color: var(--span);
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
 .nome > label, .email> label , .message >label{
  text-align: center;
  margin-right: 20px;
  margin-bottom: 1rem;
  color: var(--span);
 }

 .message, .nome, .email {
  display: flex;
  flex-direction: column;
  align-items: center;


 }
  #name{
    display: inline-block;
    width: 370px;
  padding: 10px 0;
  background: linear-gradient(to bottom, var(--span), var(--card2));
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  animation: pulse 2s infinite;
  text-align: center;

  &:hover {
    background: linear-gradient(to bottom, var(--span), var(--card2));
    transform: scale(1.1);
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  }

  #email{
    display: inline-block;
    width: 370px;
    padding: 10px 0;
  background: linear-gradient(to bottom, var(--span), var(--card2));
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  animation: pulse 2s infinite;
  text-align: center;

  &:hover {
    background: linear-gradient(to bottom, var(--span), var(--card2));
    transform: scale(1.1);
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  }

  #message{
    display: inline-block;
    width: 370px;
    padding: 10px 0;
  background: linear-gradient(to bottom,var(--span), var(--card2));
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  animation: pulse 2s infinite;
  text-align: center;


  &:hover {
    background: linear-gradient(to bottom, var(--span), var(--card2));
    transform: scale(1.1);
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  }
  .enviar{
    display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to bottom, var(--card1), var(--card2));
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  animation: pulse 2s infinite;

  &:hover {
    background: linear-gradient(to bottom, #2980b9, #3498db);
    transform: scale(1.1);
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  }
