/* container - div principal */



.container-button-contato{

display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
width: 100%;
height: 600px;
padding: 2rem;
margin-top: 3rem;
}
/*  titulo contatos */

.title-contatos >h6{
 font-size: 30px;
 color: var(--span);
 margin : 2rem 0 2rem 0;

}

/*  link contatos */

.container_btn-contatos{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 1rem;
  width: 100%;
 max-height: 450px ;
 margin : 2rem 0 2rem 0;

}
.link-contatos{
 cursor: pointer;


}






/* botão do contatos */

.btn60 {
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
  position: relative;
  list-style: none;
  width: 100px;
  height: 32px;
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 12px;
}

.btn60:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform: skewX(-41deg);
}

.btn60:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform: skewY(-49deg);
}

.btn60 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.1s ease-out;
}

.btn60:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
}

.btn60:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.btn60:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8;
}

.btn60:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6;
}

.btn60:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
}

.btn60:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: .2;
}

.btn60:active span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}

.btn60:active span:nth-child(4) {
  transform: translate(15px, -15px);
}

.btn60:active span:nth-child(3) {
  transform: translate(10px, -10px);
}

.btn60:active span:nth-child(2) {
  transform: translate(5px, -5px);
}

.btn60:active span:nth-child(1) {
  transform: translate(0px, 0px);
}

.btn60:nth-child(1):hover span {
  background: var(--span);
}
.contatos-inf{

  margin-top: 4rem;
  width: 750px;
}
.contatos-inf >p{

  font-size: 15px;
 text-align: center;
 margin-bottom: 1rem;
 color: var(--cinza-pro);
}
.contatos-inf > p>span {
  color: var(--span);
}

@media (min-width:300px) and (max-width:400px){

    .container_btn-contatos{

     max-height: 500px ;
     margin-top: 2rem;
    }
    .contatos-inf{

      margin-top: 1rem;
      width: 750px;

    }
}
