
.assunto{

  text-align: center;
  margin-bottom: 2rem;
  color: var(--span);
  font-size: 30px;
}



.habilidades > .lista{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px 20px;

}


li:hover{
  transform: translate(-8px, -16px)
  rotate(3deg);
}
li:hover ~li {
  transform: translateX(50px);
}

.lista >  a{

  width: 150px;
  height: 100px;
  background-image: linear-gradient( 85deg, var(--azul-pro), var(--fundo));
  padding: 10px;
  box-shadow: -16px 0 32 px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transition: transform 250ms;

}

li > .btn-hab{
  box-shadow: 0px 10px 14px -7px var(--span);
	background:linear-gradient(to bottom, var(--modulo) 5%, var(--modulo)100%);
	background-color:var(--span);
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--cinza-pro);
}
.btn-hab:hover{
  background:linear-gradient(to bottom, var(--cinza-pro) 5%, var(--cinza-pro) 100%);
	background-color:var(--cinza-pro);
}
.btn-hab:active{
  position:relative;
	top:1px;
}
@media (min-width:280px) and (max-width:500px){

.habilidades > .lista{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto auto;

  gap: 10px 20px;

}
.assunto {
  text-align: center;
  font-size: 25px;
}
.lista >  a{

  width: 100px;
  height: 75px;
  }
  li > .btn-hab{
    padding: 5px 10px;
  }
  .hab{
    width: 30px;
  }
}
@media (min-width:500px) and (max-width:900px){
  .habilidades > .lista{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto auto;

    gap: 10px 20px;

  }
  li > .btn-hab{
    padding: 10px 15px;
  }
}
@media (min-width:900px) and (max-width:1150px){
  .habilidades > .lista{
    display: flex;
    align-items: center;
    flex-wrap: wrap;


    gap: 10px 20px;

  }
  li > .btn-hab{
    padding: 10px 15px;
  }
}

/*animação habilidade*/
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
@-webkit-keyframes slideInUp {
  0% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInUp {
  0% {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
