
<section class="container-resumo" id="scroll">
  <h2 class="assunto"> <span> Habilidades Técnicas:</span> </h2>
  <div class="habilidades slideInUp ">

    <ul class="lista">
      <li>
        <a class="btn-hab bounceIn  ">
          <img class="hab" src="{{html}}" alt="html5"></a>
      </li>
      <li>
        <a class="btn-hab bounceIn  ">
          <img class="hab" src="{{css}}" alt="css"></a>
      </li>
      <li>
        <a class="btn-hab bounceIn  ">
          <img class="hab" src="{{bootstrap}}" alt="bootstrap"></a>
      </li>
      <li>
        <a class="btn-hab bounceIn  ">
          <img class="hab" src="{{sass}}" alt="sass"></a>
      </li>
      <li>
        <a class="btn-hab bounceIn  ">
          <img src="{{github}}" alt="github">
        </a>
      </li>
      <li>
        <a class="btn-hab bounceIn  ">
          <img class="hab" src="{{js}}" alt="javascript"></a>
      </li>

      <li>
        <a class="btn-hab bounceIn  ">
          <img class="hab" src="{{ty}}" alt="typescript"></a>
      </li>
      <li>
        <a class="btn-hab bounceIn  angular">
          <img class="hab" src="{{angular}}" alt="angular"></a>

      </li>
    </ul>
  </div>

</section>
