
<section class="sobre-min_secao">
  <div class="title"><h2>Sobre mim</h2></div>

  <div class="container">



  <div class="sobre-mim">


    <p class="assunto"> <span>Experiência Profissional:</span> </p>
    <p class="paragrafo">Com uma carreira que se estende por 8 anos de serviço no Quartel, onde atuei como cabo no Exército Brasileiro, desenvolvi habilidades sólidas de liderança e coordenação. Essa experiência me ensinou a importância do trabalho em equipe, disciplina e comprometimento, valores que aplico diariamente em meu trabalho como desenvolvedor.</p>

    <p class="assunto"> <span>Educação:</span> </p>

    <p class="paragrafo">Atualmente, estou cursando Análise e Desenvolvimento de Sistemas na Faculdade São Francisco de Assis, onde tenho a oportunidade de aprimorar minha base de conhecimento técnico e estar atualizado com as mais recentes tendências em tecnologia.</p>


    <p class="assunto"> <span>Objetivo:</span> </p>

      <p class="paragrafo">Estou constantemente em busca de desafios que me permitam expandir meu conhecimento e habilidades, contribuindo para projetos que fazem a diferença. Meu objetivo é criar produtos digitais que se destaquem pela usabilidade e pela estética, proporcionando experiências notáveis aos usuários.</p>

        <p class="paragrafo">Se você está em busca de um desenvolvedor front-end comprometido, apaixonado por sua profissão e com experiência em liderança e coordenação, estou pronto para colaborar em projetos empolgantes. Vamos trabalhar juntos para transformar suas ideias em realidade!</p>

      </div>
      <div class="habilidades">
        <p class="assunto"> <span> Habilidades Técnicas:</span> </p>
        <ul class="lista">
          <li>
            <img class="habilidades" src="{{html}}" alt="html5">
          </li>
          <li>
            <img class="habilidades" src="{{css}}" alt="css">
          </li>
          <li>
            <img class="habilidades" src="{{js}}" alt="javascript">
          </li>
          <li>
            <img class="habilidades" src="{{bootstrap}}" alt="bootstrap">
          </li>
          <li>
            <img class="habilidades" src="{{sass}}" alt="sass">
          </li>
          <li>
            <img class="habilidades" src="{{ty}}" alt="typescript">
          </li>
          <li>
            <img class="habilidades" src="{{angular}}" alt="angular">

          </li>
        </ul>
      </div>
  </div>

</section>

