.sobre-min_secao{
  width: 100%;
  height: 100vh;
  background-color: var(--azul-pro);
  text-align: center;


}
.title{
  padding: 2rem;
  color: var(--paragrafo);
}

.container{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.sobre-mim{
  width: 600px;
}
.sobre-mim >h2{
  text-align: center;
}
 .assunto{
  text-align: center;
  color: var(--span);
  font-size: 20px;
  margin: 10px 0 15px 0;
  margin-bottom: 2rem;
}
.paragrafo{
  text-align: justify;
  color: #ffffff;
}
/*skin*/
.habilidades > .lista{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  flex-direction: column;
  gap: 10px 20px;

}




.lista >  li{

  width: 150px;
  height: 100px;
}
li > .btn-hab{
  box-shadow: 0px 10px 14px -7px var(--cinza-pro);
	background:linear-gradient(to bottom, var(--cinza-pro) 5%, var(--cinza-pro)100%);
	background-color:var(--cinza-pro);
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--cinza-pro);
}
.btn-hab:hover{
  background:linear-gradient(to bottom, var(--cinza-pro) 5%, var(--cinza-pro) 100%);
	background-color:var(--cinza-pro);
}
.btn-hab:active{
  position:relative;
	top:1px;
}

/*container interio*/
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }

@-webkit-keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }
  @keyframes slideInDown {
  0% {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  }

/*das habilidades*/
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }


  @media (min-width: 250px) and (max-width: 750px){
    .container{

      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;

    }
    .sobre-mim{
      width: 350px;
      height: 500px;
    }
  }
