
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
  <div class="card-group" >
    <article class="card">
      <h3>ProgBooks</h3>
      <img src="../../../assets/progBOOKS.png" alt="progBOOKS" height="150px" class="card-imgem">

        <div class="habilidade-projetos">
          <ul class="lista-card">
            <li>
              <i class="fi fi-brands-github"></i>
              <a href="https://prog-book.vercel.app/#"target="_blank"> Deploy</a></li>
            <li><i class="fi fi-rs-table-tree"></i><a href="https://github.com/douglas1997silva/ProgBook" target="_blank"> Repositorio</a></li>
          </ul>
          <h4></h4>
          <p>Criei um site com HTML e  CSS  para uma Biblioteca de Livros Dev. Apresenta um menu "hamburguer" e um slide para exibir informações sobre os livros em destaque. Não utiliza banco de dados. Destaca minhas habilidades em front-end web development..</p>
        </div>

    </article>
  </div>




