<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
<div class="rodape-container">
  <div class="rodape-icons">
    <ul class="list-icons">
      <li>
        <a class="link_rodape" href="https://github.com/douglas1997silva" target="_blank">

          <img class="fi fi-brands-github" src="../../../assets/github.svg" alt="github">
        </a>
      </li>
      <li>
        <a class="link_rodape " href="https://www.linkedin.com/in/douglas-oliveira-625064271/" target="_blank">

          <img class="fi fi-brands-linkedin" src="../../../assets/linkedin.svg" alt="linkedin">
        </a>
      </li>
      <li>
        <a class="link_rodape" href="https://api.whatsapp.com/send?phone=5511979576926
      " target="_blank">

          <img class="fi fi-brands-whatsapp" src="../../../assets/whatsapp.svg" alt="whatsapp">
        </a>
      </li>
    </ul>
  </div>

  <div class="rodape-rotas_de_paginas">
    <ul class="lista-paginas">
      <li>
        <a class="link-paginas"[href]="['#banner']">Inicio</a>
      </li>
      <li>
        <a class="link-paginas" [routerLink]="['/sobre-mim-aba']">Sobre mim</a>
      </li>
      <li>
        <a class="link-paginas" [routerLink]="['/projetos']"> Projetos</a>
      </li>
      <li>
        <a class="link-paginas" [href]="['#banner']">Contatos</a>
      </li>
    </ul>
  </div>
  <div class="rodape-criador">
    <p>© Desenvolvido por <span>Douglas Oliveira</span> </p>
  </div>
</div>
