<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
<nav class="nav-bar">
  <ul class="logo_imag">
    <li class="lista-logo">
      <a href="#" aria-label="rocket-lunch"><i class="fi fi-rs-rocket-lunch"></i></a>
    </li>
  </ul>



  <div class="menu-toggle" (click)="toggleMenu()">
    <div class="nav-close" *ngIf="isMenuOpen">
      <i class="fi fi-br-apps-delete"></i>
    </div>
    <div class="nav-open" *ngIf="!isMenuOpen">
      <i class="fi fi-br-bars-staggered"></i>
    </div>

  </div>


  <ul class="menu " [class.is-open]="isMenuOpen"  [ngStyle]="{'display': isMenuOpen? 'block' : 'none'}" >
    <li><a class="menu_itens" href=""[routerLink]="['']" (click)="toggleMenu()" >Inicio </a></li>
    <li><a class="menu_itens" href=""[routerLink]="['/sobre-mim-aba']"  (click)="toggleMenu()">Sobre Mim</a></li>
    <li><a class="menu_itens" href=""[routerLink]="['/projetos']"(click)="toggleMenu()" >Projetos</a></li>
    <li><a class="menu_itens" href=""href="" (click)="toggleMenu()">Contato</a></li>
    <li>

       <button id="d" class="button-nigth" type="button" (click)="changeThemeColor()">
      <img src="../../../assets/estrelas-da-lua.png" alt="sol" *ngIf="navbardark" class="gif-dark-sol ">
      <img src="../../../assets/eclipse-alt.png" alt="lua" *ngIf="!navbardark" class="gif-dark-lua ">

    </button></li>

  </ul>


</nav>
