
:root{
  --texto-font: #0e0c0c;
  --font-texto: #FFFFFF;
}
.nav-bar{

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:var( --azul-pro);

}
.logo_imag{
  padding: 0.75rem;
}
.logo_imag > li > a> i{
  font-size: 30px;
  color: var(--span);
}
.menu-container{
  padding: 0.75rem;
}
.menu-container > li >a {
  margin-right: 15px;
  color: var(--branco) ;
}
.menu{
  display: flex;
  flex-direction: row;
}
.menu > li > a {
  margin-right: 15px;
  color: var(--cinza-pro);
}

.menu-itens :hover{
  color: var(--paragrafo)
}
.menu-toggle{
  display: none;


}
.gif-dark-sol {
  width: 25px;
  z-index: 999;
  cursor: pointer;



}
.gif-dark-lua{
  width: 25px;
  z-index: 999;
  cursor: pointer;
  filter: drop-shadow(white);
}
#d {
  width: 50px;
  cursor: pointer;

}
input{
  position: absolute;
  top: 22px;
  right:469px;
  z-index: -1;

}

@media screen and (min-width:500px) {
  .nav-open {
    display: none;
  }
}



@media screen and (max-width:450px){


/* Estilos para o menu de navegação */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  transition: transform 0.3s ease;
}

.menu_itens {
  text-decoration: none;
  color: var(--azul-pro);
}

.menu.is-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}
.is-open{
  display:inline-block;
    flex-direction: column;
    align-items: stretch;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    gap: 2rem;
    position: absolute;
    left: 0;
    top: 50px;
    padding: 1em 0.5em;
    width: 100%;
    height: 50%;
    text-align: center;
    z-index: 99;
    background-color: var(--azul-pro);
    transition: 200ms;
    transform: translateY(0);
}
.menu-toggle {
  cursor: pointer;
  font-size: 24px; /* Tamanho do ícone */

  margin-right: 10px; /* Espaçamento entre o ícone e o texto (se houver) */
}
.fi,.fi-rs-rocket-lunch{
  color: var(--span);
}
.menu-toggle {
  cursor: pointer;
  display: block;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
}



@-webkit-keyframes flip-scale-2-ver-right {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
            transform: translateX(50%) rotateY(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) rotateY(-180deg) scale(1);
            transform: translateX(100%) rotateY(-180deg) scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@keyframes flip-scale-2-ver-right {
  0% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: translateX(50%) rotateY(-90deg) scale(2);
            transform: translateX(50%) rotateY(-90deg) scale(2);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: translateX(100%) rotateY(-180deg) scale(1);
            transform: translateX(100%) rotateY(-180deg) scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
