.container-menu_laterl{
  width: 50px;
  height: 200px;

  margin-left: 3px;
}
 .menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  background-color: var(--m-fundo);
  padding: 20px 10px  ;
  border-radius: 25px;
 }
 .menu >.lista{
  margin-bottom: 5px;
 }


 .lista> .link>img:nth-child(5){
  width: 15px;
 }


@media (min-width:200px) and (max-width:460px) {
  .container-menu_laterl{
    width: 40px;
    height: 200px;

    margin-left: 3px;
  }
}
