<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>


<section class="banner">
  <div class="banner-inf">
    <h1> Douglas Oliveira</h1>
    <p>Desenvolvedor Front-End</p>
  <ul class="lista-contato">
    <li class="item-contato"><a href=""><i class="fi fi-brands-linkedin"></i></a>
    </li>
    <li ><a href=""><i class="fi fi-brands-github"></i></a></li>
    <li ><a href=""><i class="fi fi-brands-whatsapp"></i></a>
  </ul>
  </div>
  <div class="banner-imagem">
       <img src="https://media.licdn.com/dms/image/D4E03AQG3EVlCb-FWpg/profile-displayphoto-shrink_800_800/0/1681398979440?e=1702512000&v=beta&t=N82HysVRlaZDoKsZ4tb2dLpAzE7UqGoed3fb5gKoWSg" alt="Douglas Oliveira" height="150px">
  </div>
</section>
