<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>


<section class="banner">
  <div class="container">
    <div class="container-titles">
      <h1> <span>Olá</span> , Eu sou o Douglas Oliveira , <span>Desenvolvedor Front-end</span> </h1>
      <p>Com mais de sete anos de experiência como Cabo no Exército Brasileiro, estou atualmente passando por uma empolgante transição de carreira para o mundo da programação. Durante minha carreira militar, fui consistentemente reconhecido por meu desempenho excepcional e minha capacidade de liderança em várias funções. A paixão pela tecnologia sempre foi uma parte intrínseca de quem sou, o que me motivou a abraçar essa nova direção profissional.</p>
      <ul class="lista">
        <li><a class="a" href="" target="_blank"><i class="fi fi-brands-github"></i></a></li>
        <li><a class="a" href="" target="_blank"><i class="fi fi-brands-linkedin"></i></a></li>
        <li><a class="a" href="" target="_blank"><i class="fi fi-brands-whatsapp"></i></a></li>
      </ul>
    </div>
    <div class="container-img">
  <img src="{{imagem}}" alt="Douglas oliveira" class="imga-douglas">
    </div>
  </div>
</section>
