<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>


<section class="banner">
  <div class="container">
    <div class="container-titles">
      <h1> <span>Olá</span> , Eu sou o Douglas Oliveira , <span>Desenvolvedor Front-end</span> </h1>
      <p>Apaixonado por transformar ideias em experiências digitais incríveis.</p>
      <ul class="lista">
        <li><a class="a" href="" target="_blank"><i class="fi fi-brands-github"></i></a></li>
        <li><a class="a" href="" target="_blank"><i class="fi fi-brands-linkedin"></i></a></li>
        <li><a class="a" href="" target="_blank"><i class="fi fi-brands-whatsapp"></i></a></li>
      </ul>
    </div>
    <div class="container-img">
  <img src="{{imagem}}" alt="Douglas oliveira" class="imga-douglas">
    </div>
  </div>
</section>
