


.container{

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 3rem;

}
.container-titles{
  text-align: center;
  width: 550px;
  margin-left: 10px;
}
.container-titles >h1{
  color: var(--branco);
  font-size: 32px;



}
p{
  color: var(--branco);
  text-align: justify;
}
.container-titles >h1:hover {
  color: var(--span);
}
span{
  color: var(--span);
}
span:hover{
  color: var(--branco);
}
.lista{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.fi{
  color: var(--fonte-de-texto) ;
  font-size: 35px;

}
.fi:hover{
  color: var(--paragrafo)
   ;
}
.link{
  border-radius: 100%;
}

.imga-douglas{
  max-width: 300px;
  margin-left: 30px;




}
.container-img{
display: flex;
align-items: center;
justify-content: center;
  width: 300px;
  height: 300px;
  background-image: linear-gradient( 85deg, var(--card1), var(--card2));
  border-radius: 15px ;
  margin-bottom: 4rem;
  margin-left: 2rem;
}
.container-img:hover{
  background-image: linear-gradient( 03deg, var(--card2), var(--card1));
}
p{
  color: var(--branco);
  margin: 2rem 0 3rem 0
}
@media (min-width:500px) and (max-width:800px){
    .container{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .container-img{
      order: 1;
      margin-bottom: 2rem;
    }
    .container-titles{
      order: 2;
      width: 480px;
    }
    .imga-douglas{
      width: 250px;
    }
}
@media (min-width:280px) and (max-width:500px){

  .container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    text-align: center;
    margin-top: 2rem;
    width: 260px;
    height: 250px;
  }
  .container-titles{
    width: 325px;


    order: 2;
  }
  .imga-douglas{
    max-width: 250px;

  }

  .fi{

    font-size: 25px;

  }
   h1{
    font-size: 15px;
   }
}
