

.banner{
  width: 100%;
  height: 100vh;
  background-color: var(--azul-pro);
  display: flex;
  justify-content: center;
  align-items: center;

}
.container{

  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.container-titles{

  width: 450px;
  margin-left: 10px;
}
.container-titles >h1{
  color: var(--branco);
}
span{
  color: var(--span);
}
.lista{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.fi{
  color: var(--fonte-de-texto) ;
  font-size: 35px;

}
.fi:hover{
  color: var(--paragrafo)
   ;
}
.a{
  border-radius: 100%;
}

.imga-douglas{
  width: 350px;
  border-radius: 15px 5px 15px 5px;
  box-shadow: 4px 17px 16px 7px var(--azul-pro);
}
p{
  color: var(--branco);
  margin: 2rem 0 3rem 0
}
@media (min-width:500px) and (max-width:800px){
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .container-img{
      order: 1;
      margin-bottom: 2rem;
    }
    .container-titles{
      order: 2;
    }
    .imga-douglas{
      width: 250px;
    }
}
@media (min-width:280px) and (max-width:500px){

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .container-img{
    order: 1;
    margin-bottom: 2rem;
  }
  .container-titles{
    width: 100%;

    order: 2;
  }
  .imga-douglas{
    width: 250px;
  }

  .fi{

    font-size: 25px;

  }
   h1{
    font-size: 17px;
   }
}
