.container-hab{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.container-projetos{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
