/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
:root{
  --fonte-de-texto: #808080;
  --fundo: #0055A4 ;
  --card1: #101728 ;
  --paragrafo: #00A887 ;
  --card2: #0055A4;
  --azul-pro: #101728;
  --cinza-pro: #cebcbc;
  --preto: #000000 ;
  --branco: #FFFFFF;
   --span: #51319b;
   --modulo:#cebcbc;
}
body{
   background-color: var(--azul-pro);
   color: var(--preto);
   width: 100%;
   scrollbar-width: thin;
  scrollbar-color: var(--span)#333;

}
/* Estilize a barra de rolagem vertical */
body::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--span); /* Cor do polegar (parte arrastável) da barra de rolagem */
  border-radius: 10px; /* Raio da borda do polegar */
}

body::-webkit-scrollbar-track {
  background-color: #333; /* Cor da faixa da barra de rolagem (fundo) */
}

/* Estilize a barra de rolagem horizontal (opcional) */
body::-webkit-scrollbar:horizontal {
  height: 12px; /* Altura da barra de rolagem horizontal */
}

body::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--span);
}

body::-webkit-scrollbar-track:horizontal {
  background-color: #333;
}

:root .dark-theme {
  --fonte-de-texto: #555843;
  --fundo: #0055A4 ;
  --card1: #86A789 ;
  --paragrafo: #1f00a8 ;
  --card2: #164863;
  --azul-pro: #FFFFFF;
  --cinza-pro: #80B3FF;
  --preto: #e9e9e9 ;
  --branco: #000000;
   --span: #164863;
   --modulo:#86A789;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
 scroll-snap-type: var(--cinza-pro);



}
